

<div class="geral">
    <p>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <i class="fa-solid fa-book"></i>
            <span> Livrarias'Angular</span>
            <span class="example-spacer"></span>
            <a routerLink="vitrini">Home</a>
            <a routerLink="pages/register">Cadastro</a>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <i class="fa-solid fa-cart-shopping" routerLink="/cadastro-login"></i>
            </button>

          </mat-toolbar-row>
        </mat-toolbar>
      </p>
</div>


