
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  background-color: #0f13ff;
}

.example-spacer {
    flex: 1 1 auto;
  }

.geral {
    margin: 0;
    padding: 0;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 8px;
}

button {
  border: 0;
  width: 30px;
  height: 40px;
  font-size: 20px;
  color: #fff;
}