

<div class="tudo">
    <div class="book-details" *ngIf="book">
        <div class="geral">
            <div class="fotos">
                <img [src]="book.image" alt="Capa do Livro">
            </div>
            <div class="compra">
                <div class="descricao-compra">
                    <div class="titulo">
                        <h2>{{ book.title }}</h2>
                    </div>
                    <div class="preco-descricao">
                        <h1>Preço: R$ {{ book.price }}</h1>
                        <p>{{ book.description }}</p>
                    </div>
                    <div class="formas-pag">
                        <label for="parcelamento">Escolha a forma de pagamento:</label>
                        <select id="parcelamento">
                            <option value="1x">1x sem juros</option>
                            <option value="2x">2x sem juros</option>
                            <option value="3x">3x sem juros</option>
                        </select>
                        <button>Comprar Agora</button>
                        <button>Adicionar ao Carrinho</button>
                    </div>
                </div>            
            </div>
        </div>
      </div>
</div>


