

<body>
    <div class="geral">
        <div class="imagem-formulario">
            <img src="assets/IMgs/svglendo.svg" alt="">
        </div>
        <div class="formulario">
            <form action="#">
                <div class="cabecalho-formulario">
                    <div class="titulo">
                        <h1>Entrar</h1>
                    </div>
                    <div class="botao-login">
                        <button routerLink="../register">Registre-se</button>
                    </div>
                </div>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu email" required>
                </div>

                <div class="input-box">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </div>
                <div class="botao-continue">
                    <button>Continuar</button>
                </div>
            </form>
        </div>
    </div>
</body>
