

<div class="promocoes">
    <app-slideshow></app-slideshow>
</div>

<div class="home">
    <div class="vitrini">
      <div class="container" *ngFor="let book of books">
        <div class="book-card" routerLink="../pages/book-details/{{ book.id }}">
          <div class="book-image">
            <img [src]="book.image" alt="Capa do Livro">
          </div>
          <div class="book-details">
            <div class="book-title">{{ book.title }}</div>
            <div class="book-description">{{ book.description }}</div>
          </div>
        </div>
        <div class="book-price">R$ {{ book.price }}</div>
        <button class="buy-button" routerLink="../pages/book-details/{{ book.id }}">Ver Detalhes</button>
      </div>
    </div>
  </div>





