
<div class="home">
    <div class="vitrini">
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        <div class="container">
            <div class="book-card">
                <div class="book-image">
                    <img src="assets/IMgs/capaDeLivroTeste.jpg" alt="Capa do Livro">
                </div>
                <div class="book-details">
                    <div class="book-title">Título do Livro</div>
                    <div class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
                        orci vel venenatis. Sed bibendum quam non augue cursus, non egestas mi
                        dictum.
                    </div>
                </div>
            </div>
            <div class="book-price">R$ 29,99</div>
            <button class="buy-button">Comprar Agora</button>
        </div>
        
    </div>
</div>



